[submodule "java-mqtt-kafka-bridge"]
	path = java-mqtt-kafka-bridge
	url = git@github.com:SmartAQnet/java-mqtt-kafka-bridge.git
[submodule "nginx/dashboard"]
	path = nginx/dashboard
	url = git@github.com:SmartAQnet/dashboard.git
